<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="css/categoria.css">
  <link rel="stylesheet" href="css/categoria_inicio.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/global.css">
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<title>Categorias</title>
</head>
<body>
<div class="container">
	<div class="menu" id="dv_home_topo">
	<div id="dv_imagem_marca">
		<img id="imagem_marca" src="img/marca.png">
	</div>
	<div id="dv_menu">
		<input id="btn_inicio" type="button" value="Inicio">
		<input id="btn_categoria" type="button" value="Categorias">
		<input id="btn_serie" type="button" value="Séries">	
	</div>
		<div id="dv_usuario">
		<div id="dv_usuario_imagem">
			<img id="imagem_usuario" src="img/usuario.jpg">				
		</div>
		<div id="dv_usuario_inf">
			<span id="spn_usuario">Usuario</span>
			<input id="btn_sair" type="button" value="Sair">
		</div>
		</div>
	</div>
	<div id="dv_home_corpo">
		<div class="categoria" id="dv_categoria">
		<h2>Categorias</h2>
				<div class="categoria" id="dv_categoria_all">
				</div>
		</div>
	</div>
</div>
  <script src="js/script.js"></script>
</body>
</html>