<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/global.css">
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<title>Inicio</title>
</head>
<body>
<div class="container">
	<div class="menu" id="dv_home_topo">
	<div id="dv_imagem_marca">
		<img id="imagem_marca" src="img/marca.png">
	</div>
	<div id="dv_menu">
		<input id="btn_inicio" type="button" value="Inicio">
		<input id="btn_categoria" type="button" value="Categorias">
		<input id="btn_serie" type="button" value="Séries">		
	</div>
		<div id="dv_usuario">
		<div id="dv_usuario_imagem">
			<img id="imagem_usuario" src="img/usuario.jpg">			
		</div>
		<div id="dv_usuario_inf">
			<span id="spn_usuario">NOME PRIMEIRO</span>
			<input id="btn_sair" type="button" value="Sair">
		</div>
		</div>
	</div>
	<div id="dv_home_corpo">
		<div id="dv_serie">
		<h2>Recentes</h2>
				<div id="dv_serie_all">
					<div class="recente" id="dv_serie_add">
						<img src="img/add.png">
						<h3>Adicionar Série</h3>
					</div>
				</div>
		</div>
		<div id="dv_categoria">
		<h2>Categorias</h2>
				<div id="dv_categoria_all" class="home">
				</div>
		</div>
	</div>
</div>
  <script src="js/script.js"></script>
</body>
</html>