@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using SerieList.Presentation.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "API";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<div class="row">
    <div class="col s12 m12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>
@foreach (var group in apiGroups)
{
    @Html.DisplayFor(m => group, "ApiGroup")
}
