
#dv_categoria_all, #dv_categoria_serie_all{
	margin-left: 0%;
	margin-top: -1%;
	width: 100%;
	height: 85%;
	display: block;
	overflow: auto;
	float: left;
	/*background-color: yellow;*/
}
#dv_categoria_all div, #dv_categoria_serie_all div{
	margin-left: 4%;
	margin-right: -2%;
	margin-top: 0%;
	margin-bottom: 1%;
	width: 20%;
	height: 50%;
	display: inline-block;
	position: relative;
	float: left;
	/*background-color: blue;*/
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}
#dv_categoria_all div:hover, #dv_categoria_serie_all div:hover{
	background-color: #E0E02A;
	color: #0B486B;
}
.categoria img{
	margin-top: 5%;
	height: 60%;
}
#btn_categoria_add, #btn_categoria_return{
	border: none;
	font-size: 100%;
	float: right;
	position: relative;
	margin-top: 3%;
	margin-right: 5%;
	background-color: #0B486B;
	color: white;
}
#spn_categoria_list:hover{
	cursor: pointer;
	color: #757449;
}

#btn_categoria_return:hover{
	color: yellow;
}